@keyframes transitionIn {
    from{
        opacity: 0;
        transform: translateY(-10%)
    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}

.practice{
    background-color: #1a1c28;
    height: inherit;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    margin-right: 10px;
    border-radius: 8px;
    overflow: hidden;
    transition: 1s;
    max-height: 350px;
    animation: transitionIn 2s;
}

.practice-sub{

    /* outline: 10px solid #1a1c28; */
    /* outline-offset: -10px; */
    overflow-y: scroll;
    overflow-x: hidden;
}


.practice-word{
    padding: 4px;
    margin: 0;
    cursor: pointer;
}

.practice-word:hover{
    cursor: pointer;
    color: #f5cc37;
    transform: scale(0.9);
    transition: 0.5s;
}
