.progress-bar{
    width: 720px;
    height: 20px;
    border-radius: 1rem;
    background-color: #1a1c28;
    margin-top: 80px;
    overflow: hidden;
    text-align: center;
    position: relative;

    
    
}

.progress{
    position: absolute;
    text-align: center;
    font-size: 12px;
    padding-top: 1.5px;
    background-color: #4c4d538c;
    border-radius: 1rem;
    height: 20px;
    transition: 1s;
}